openapi: 3.0.3
info:
  title: Grok API
  description: API for interacting with Grok, an AI assistant created by xAI.
  version: 1.0.0
servers:
  - url: https://api.x.ai/v1
    description: Official xAI Grok API server
paths:
  /chat/completions:
    post:
      summary: Create a chat completion with Grok
      description: |
        Generates a chat completion using the specified model. 
        For reasoning-capable models (e.g., grok-3-mini, grok-3-mini-fast), 
        use the `reasoning_effort` parameter to control thinking effort and access 
        the reasoning trace via `reasoning_content` and token details via `completion_tokens_details`.
      operationId: createChatCompletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrokChatCompletionRequest'
      responses:
        '200':
          description: Successful chat completion response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrokChatCompletionResponse'
            text/event-stream:
              schema:
                type: string
                description: |
                  Server-Sent Events stream of chat completion chunks when "stream" is true.
                  Each event is prefixed with "data: " followed by a JSON object like:
                  {"id": "<id>", "object": "chat.completion.chunk", "created": <time>,
                  "model": "<model>", "choices": [{"index": 0, "delta": {"content": "<text>", "role": "assistant"}}],
                  "usage": {...}, "system_fingerprint": "<fingerprint>"}
                  Ends with "data: [DONE]".
        '400':
          description: Invalid request (e.g., missing messages)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrokErrorResponse'
  /images/generations:
    post:
      summary: Generate images using Grok
      operationId: generateImages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrokImageGenerationRequest'
      responses:
        '200':
          description: Successful image generation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrokImageGenerationResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrokErrorResponse'
  /responses:
    post:
      summary: Create a new response using the Responses API
      description: |
        Generates a response based on text or image prompts using the Responses API.
        This endpoint supports built-in agentic tools (web_search, x_search, code_interpreter)
        as well as function calling. The response ID can be used to retrieve the response later
        or to continue the conversation without repeating prior context.
      operationId: createResponse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrokResponseRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrokResponseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrokErrorResponse'
  /responses/{response_id}:
    get:
      summary: Retrieve a previous response
      description: Retrieve a previously generated response by its ID.
      operationId: getResponse
      parameters:
        - name: response_id
          in: path
          required: true
          schema:
            type: string
          description: The response ID returned by a previous create response request.
      responses:
        '200':
          description: Successful response retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrokResponseResponse'
        '404':
          description: Response not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrokErrorResponse'
    delete:
      summary: Delete a previous response
      description: Delete a previously generated response by its ID.
      operationId: deleteResponse
      parameters:
        - name: response_id
          in: path
          required: true
          schema:
            type: string
          description: The response ID returned by a previous create response request.
      responses:
        '200':
          description: Successful response deletion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrokResponseDeleteResponse'
        '404':
          description: Response not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrokErrorResponse'
  /videos/generations:
    post:
      summary: Start video generation
      description: |
        Starts an asynchronous video generation request. Returns a request_id that can be
        used to poll for the result. Supports text-to-video, image-to-video, and video editing.
      operationId: createVideoGeneration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrokVideoGenerationRequest'
      responses:
        '200':
          description: Video generation started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrokVideoGenerationStartResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrokErrorResponse'
  /videos/{request_id}:
    get:
      summary: Get video generation result
      description: |
        Polls for the result of a video generation request. Returns the status and video data when complete.
      operationId: getVideoGeneration
      parameters:
        - name: request_id
          in: path
          required: true
          schema:
            type: string
          description: The request ID returned by createVideoGeneration.
      responses:
        '200':
          description: Video generation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrokVideoGenerationResult'
        '404':
          description: Request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrokErrorResponse'
  /chat/deferred-completion/{request_id}:
    get:
      summary: Get deferred chat completion result
      description: |
        Retrieves the result of a deferred chat completion. Returns 202 Accepted with empty body
        if the result is not ready yet. The result can only be retrieved once within 24 hours.
      operationId: getDeferredChatCompletion
      parameters:
        - name: request_id
          in: path
          required: true
          schema:
            type: string
          description: The request ID returned by createDeferredChatCompletion.
      responses:
        '200':
          description: Deferred completion result (when ready)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrokChatCompletionResponse'
        '202':
          description: Result not ready yet
        '404':
          description: Request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrokErrorResponse'
components:
  schemas:
    GrokChatCompletionRequest:
      type: object
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/GrokMessage'
          description: List of messages in the conversation
        model:
          type: string
          description: The Grok model to use (e.g., grok-3-latest)
          example: "grok-3-latest"
        stream:
          type: boolean
          description: Whether to stream the response as Server-Sent Events
          default: false
        temperature:
          type: number
          format: float
          description: Controls randomness (0 = deterministic, higher = more creative)
          minimum: 0
          maximum: 2
          default: 0
        tools:
          type: array
          items:
            $ref: '#/components/schemas/GrokTool'
          description: List of tools (functions, web_search, x_search) available to the model
        tool_choice:
          oneOf:
            - type: string
              enum: ["auto", "required", "none"]
            - type: object
              properties:
                type:
                  type: string
                  enum: ["function"]
                function:
                  type: object
                  properties:
                    name:
                      type: string
              required:
                - type
                - function
            - type: 'null'
          default: null
          description: |
            Controls tool usage. Set to null or omit when no tools are provided.
            - "auto": model decides whether to use tools
            - "required": force tool call
            - "none": disable tool usage
            - object: specify a particular function
        reasoning_effort:
          type: string
          enum:
            - low
            - high
          nullable: true
          default: null
          description: Controls how much time the model spends thinking before responding. Only applicable for reasoning-capable models (e.g., grok-3-mini, grok-3-mini-fast). 'low' for quick responses, 'high' for complex reasoning.
        response_format:
          $ref: '#/components/schemas/GrokResponseFormat'
        deferred:
          type: boolean
          description: When set to true, the request is processed asynchronously. The response will contain a request_id that can be used to poll for the result via GET /chat/deferred-completion/{request_id}.
          default: false
      required:
        - messages
        - model

    GrokChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the completion
          example: "9116ebda-e5d9-4885-b374-ea891b6b693c"
        object:
          type: string
          description: Type of object returned
          example: "chat.completion"
        created:
          type: integer
          description: Unix timestamp of when the completion was created
          example: 1739936964
        model:
          type: string
          description: The model used for the completion
          example: "grok-2-1212"
        choices:
          type: array
          items:
            $ref: '#/components/schemas/GrokChoice'
          description: List of response choices
        usage:
          $ref: '#/components/schemas/GrokUsage'
        system_fingerprint:
          type: string
          description: Unique identifier for the system configuration
          example: "fp_c612364da3"
        citations:
          type: array
          items:
            type: string
          description: List of citation URLs when return_citations is true. Optional and only included if LiveSearch is used.
      required:
        - id
        - object
        - created
        - model
        - choices
        - usage

    GrokMessage:
      type: object
      properties:
        role:
          type: string
          enum: ["system", "user", "assistant", "tool", "developer"]
      required:
        - role
      discriminator:
        propertyName: role
        mapping:
          system: '#/components/schemas/GrokSystemMessage'
          user: '#/components/schemas/GrokUserMessage'
          assistant: '#/components/schemas/GrokAssistantMessage'
          tool: '#/components/schemas/GrokToolMessage'
          developer: '#/components/schemas/GrokDeveloperMessage'

    GrokDeveloperMessage:
      allOf:
        - $ref: '#/components/schemas/GrokMessage'
        - type: object
          description: >
            Developer-provided instructions that the model should follow regardless of user input.
            Similar to system messages but with stronger instruction-following guarantees.
          properties:
            content:
              type: string
              description: Developer instruction content
          required:
            - content

    GrokSystemMessage:
      allOf:
        - $ref: '#/components/schemas/GrokMessage'
        - type: object
          properties:
            content:
              type: string
              description: Simple text content for the system message
          required:
            - content

    GrokUserMessage:
      allOf:
        - $ref: '#/components/schemas/GrokMessage'
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/GrokContent'
              description: Array of content parts (e.g., text, images). Supports Image Understanding via image_url parts.
          required:
            - content

    GrokAssistantMessage:
      allOf:
        - $ref: '#/components/schemas/GrokMessage'
        - type: object
          properties:
            content:
              type: string
              description: Simple text content; may be a JSON string for structured outputs
            tool_calls:
              type: array
              items:
                $ref: '#/components/schemas/GrokToolCall'
              description: List of tool calls requested by the assistant
            reasoning_content:
              type: string
              description: The model's thought process before generating the response. Only present for reasoning-capable models (e.g., grok-3-mini, grok-3-mini-fast).
          required:
            - content

    GrokToolMessage:
      allOf:
        - $ref: '#/components/schemas/GrokMessage'
        - type: object
          properties:
            content:
              type: string
              description: Simple text content; typically a JSON string of the tool result
            tool_call_id:
              type: string
              description: ID of the tool call this result corresponds to
          required:
            - content
            - tool_call_id

    GrokContent:
      type: object
      properties:
        type:
          type: string
          enum: ["text", "image_url"]
          description: The type of content part
      required:
        - type
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/GrokTextPart'
          image_url: '#/components/schemas/GrokImageUrlPart'
      description: Base type for content parts, with subtypes distinguished by the 'type' property

    GrokTextPart:
      allOf:
        - $ref: '#/components/schemas/GrokContent'
        - type: object
          properties:
            text:
              type: string
              description: The text content
          required:
            - text
          description: A content part containing text

    GrokImageUrlPart:
      allOf:
        - $ref: '#/components/schemas/GrokContent'
        - type: object
          properties:
            image_url:
              $ref: '#/components/schemas/GrokImageUrl'
          required:
            - image_url
          description: A content part containing an image URL or base64-encoded image for Image Understanding

    GrokImageUrl:
      type: object
      properties:
        url:
          type: string
          description: URL or base64-encoded image (e.g., "data:image/jpeg;base64,<data>"). Supported formats jpg/jpeg, png. Maximum size 10MiB.
        detail:
          type: string
          enum: ["low", "high"]
          description: Level of detail for the image
      required:
        - url

    GrokTool:
      type: object
      description: |
        A tool definition for the Chat Completions API.
        Function tools: { "type": "function", "function": { "name": "...", "parameters": {...} } }
        Note: For web_search, x_search, and code_interpreter tools, use the Responses API (/v1/responses).
      required:
        - type
      properties:
        type:
          $ref: '#/components/schemas/GrokToolType'
          description: The type of tool. Currently only 'function' is supported for Chat Completions.
        function:
          $ref: '#/components/schemas/GrokFunctionDefinition'
          description: Function tool definition. Required when type is 'function'.

    GrokToolType:
      type: string
      description: The type of tool for the Chat Completions API.
      enum:
        - function

    GrokFunctionDefinition:
      type: object
      properties:
        name:
          type: string
          description: Name of the function
        description:
          type: string
          description: Function description
        parameters:
          type: object
          additionalProperties: true
          description: JSON schema for function parameters
      required:
        - name
        - parameters

    GrokToolCall:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the tool call
        type:
          type: string
          enum: ["function"]
        function:
          type: object
          properties:
            name:
              type: string
              description: Function name
            arguments:
              type: string
              description: JSON string of function arguments
          required:
            - name
            - arguments
      required:
        - id
        - type
        - function

    GrokChoice:
      type: object
      properties:
        index:
          type: integer
          description: Index of the choice
          example: 0
        message:
          $ref: '#/components/schemas/GrokAssistantMessage'
        finish_reason:
          type: string
          enum: ["stop", "length", "error", "tool_calls"]
          description: Reason the completion stopped
          example: "stop"
      required:
        - index
        - message
        - finish_reason

    GrokUsage:
      type: object
      properties:
        prompt_tokens:
          type: integer
          description: Number of tokens in the prompt
          example: 28
        completion_tokens:
          type: integer
          description: Number of tokens in the completion
          example: 5
        total_tokens:
          type: integer
          description: Total number of tokens used
          example: 33
        prompt_tokens_details:
          $ref: '#/components/schemas/GrokPromptTokensDetails'
        completion_tokens_details:
          $ref: '#/components/schemas/GrokCompletionTokensDetails'
          description: Details about completion tokens, including reasoning tokens for reasoning-capable models (e.g., grok-3-mini, grok-3-mini-fast).
      required:
        - prompt_tokens
        - completion_tokens
        - total_tokens

    GrokPromptTokensDetails:
      type: object
      properties:
        text_tokens:
          type: integer
          description: Number of text tokens in the prompt
          example: 28
        audio_tokens:
          type: integer
          description: Number of audio tokens (if applicable)
          example: 0
        image_tokens:
          type: integer
          description: Number of image tokens (if applicable)
          example: 0
        cached_tokens:
          type: integer
          description: Number of cached tokens (if applicable)
          example: 0
      required:
        - text_tokens
        - audio_tokens
        - image_tokens
        - cached_tokens

    GrokCompletionTokensDetails:
      type: object
      properties:
        reasoning_tokens:
          type: integer
          description: Number of tokens used for reasoning in the response.
      required:
        - reasoning_tokens
      description: Breakdown of completion tokens, detailing tokens used for reasoning. Only present for reasoning-capable models.

    GrokErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: "Invalid request: messages array is required"
      required:
        - error

    GrokImageGenerationRequest:
      type: object
      properties:
        prompt:
          type: string
          description: The text prompt to generate images from
        n:
          type: integer
          description: The number of images to generate
          default: 1
          minimum: 1
          maximum: 10
        response_format:
          type: string
          enum:
            - url
            - b64_json
          default: url
          description: The format of the response, either "url" or "b64_json"
        model:
          type: string
          description: The model to use for image generation
          default: "grok-imagine-image"
      required:
        - prompt

    GrokImageGenerationResponse:
      type: object
      properties:
        created:
          type: integer
          description: Unix timestamp of when the response was created
        data:
          type: array
          items:
            $ref: '#/components/schemas/GrokImageData'
      required:
        - data

    GrokImageData:
      type: object
      properties:
        url:
          type: string
          description: URL of the generated image (present if response_format is "url")
        b64_json:
          type: string
          description: Base64-encoded image data (present if response_format is "b64_json")
        revised_prompt:
          type: string
          description: The revised prompt used for image generation
      required:
        - revised_prompt

    # =============================================
    # Responses API Schemas
    # =============================================

    GrokResponseRequest:
      type: object
      description: Request body for the Responses API (/v1/responses).
      properties:
        input:
          type: array
          items:
            $ref: '#/components/schemas/GrokResponseInputMessage'
          description: The input messages passed to the model. Each message has a role and string content.
        model:
          type: string
          description: The Grok model to use (e.g., grok-4-0709, grok-4-fast).
        tools:
          type: array
          items:
            $ref: '#/components/schemas/GrokResponseTool'
          description: A list of tools the model may call. Supports web_search, x_search, code_interpreter, and function tools.
        tool_choice:
          oneOf:
            - type: string
              enum: ["auto", "required", "none"]
            - type: object
              properties:
                type:
                  type: string
                  enum: ["function"]
                function:
                  type: object
                  properties:
                    name:
                      type: string
              required:
                - type
                - function
            - type: 'null'
          default: null
          description: Controls tool usage. 'auto' (default when tools present), 'required', 'none', or specify a function.
        stream:
          type: boolean
          description: Whether to stream the response as Server-Sent Events.
          default: false
        temperature:
          type: number
          format: float
          description: Controls randomness (0 = deterministic, higher = more creative).
          minimum: 0
          maximum: 2
        store:
          type: boolean
          description: Whether to store the response for later retrieval (default true).
          default: true
        parallel_tool_calls:
          type: boolean
          description: Whether to allow the model to run parallel tool calls.
          default: true
        max_output_tokens:
          type: integer
          description: Maximum number of output tokens to generate.
          nullable: true
        previous_response_id:
          type: string
          description: ID of a previous response to continue the conversation from.
          nullable: true
        include:
          type: array
          items:
            type: string
          description: List of additional data to include in the response (e.g., "reasoning.encrypted_content", "inline_citations").
        max_turns:
          type: integer
          description: Maximum number of agentic turns the model can take. Limits tool call loops.
          nullable: true
        response_format:
          $ref: '#/components/schemas/GrokResponseFormat'
      required:
        - input
        - model

    GrokResponseInputMessage:
      type: object
      description: An input message for the Responses API. Content is a simple string.
      properties:
        role:
          type: string
          enum: ["system", "user", "assistant", "tool", "developer"]
          description: The role of the message sender.
        content:
          type: string
          description: The text content of the message.
        tool_call_id:
          type: string
          description: For tool role messages, the ID of the tool call this result corresponds to.
      required:
        - role
        - content

    GrokResponseTool:
      type: object
      description: |
        A tool definition for the Responses API.
        Built-in tools: web_search, x_search, code_interpreter (execute on xAI servers).
        Function tools: custom functions you define that the model can invoke.
      required:
        - type
      properties:
        type:
          $ref: '#/components/schemas/GrokResponseToolType'
          description: The type of tool.
        name:
          type: string
          description: For function tools, the name of the function.
        description:
          type: string
          description: For function tools, the description of the function.
        parameters:
          type: object
          additionalProperties: true
          description: For function tools, the JSON Schema of function parameters.
        strict:
          type: boolean
          description: For function tools, whether to enforce strict JSON Schema.
        function:
          $ref: '#/components/schemas/GrokFunctionDefinition'
          description: Function definition (alternative format). Required when type is 'function' in chat completions format.
        allowed_domains:
          type: array
          items:
            type: string
          maxItems: 5
          description: For web_search - only search within these domains. Cannot be set with excluded_domains.
        excluded_domains:
          type: array
          items:
            type: string
          maxItems: 5
          description: For web_search - exclude these domains from search. Cannot be set with allowed_domains.
        enable_image_understanding:
          type: boolean
          description: For web_search/x_search - enable analysis of images found during search.
        allowed_x_handles:
          type: array
          items:
            type: string
          maxItems: 10
          description: For x_search - only consider posts from these X handles. Cannot be set with excluded_x_handles.
        excluded_x_handles:
          type: array
          items:
            type: string
          maxItems: 10
          description: For x_search - exclude posts from these X handles. Cannot be set with allowed_x_handles.
        from_date:
          type: string
          format: date
          description: For x_search - start date in ISO8601 format (YYYY-MM-DD).
        to_date:
          type: string
          format: date
          description: For x_search - end date in ISO8601 format (YYYY-MM-DD).
        enable_video_understanding:
          type: boolean
          description: For x_search - enable analysis of videos in posts.
        vector_store_ids:
          type: array
          items:
            type: string
          description: For file_search - list of collection/vector store IDs to search.
        max_num_results:
          type: integer
          description: For file_search - maximum number of results to return.
        server_url:
          type: string
          description: For mcp - the URL of the MCP server to connect to. Only Streaming HTTP and SSE transports are supported.
        server_label:
          type: string
          description: For mcp - a label to identify the server (used for tool call prefixing).
        server_description:
          type: string
          description: For mcp - a description of what the server provides.
        allowed_tool_names:
          type: array
          items:
            type: string
          description: For mcp - list of specific tool names to allow (empty allows all).
        authorization:
          type: string
          description: For mcp - a token that will be set in the Authorization header on requests to the MCP server.
        extra_headers:
          type: object
          additionalProperties:
            type: string
          description: For mcp - additional headers to include in requests to the MCP server.

    GrokResponseToolType:
      type: string
      description: The type of tool for the Responses API.
      enum:
        - web_search
        - x_search
        - code_interpreter
        - function
        - file_search
        - mcp

    GrokResponseResponse:
      type: object
      description: Response from the Responses API.
      properties:
        id:
          type: string
          description: Unique ID of the response.
        object:
          type: string
          description: The object type, always "response".
        created_at:
          type: integer
          description: Unix timestamp of when the response was created.
        model:
          type: string
          description: Model name used to generate the response.
        output:
          type: array
          items:
            $ref: '#/components/schemas/GrokResponseOutputItem'
          description: The response generated by the model.
        status:
          type: string
          enum: ["completed", "in_progress", "incomplete"]
          description: Status of the response.
        usage:
          $ref: '#/components/schemas/GrokResponseUsage'
        tool_choice:
          type: string
          description: Tool choice setting used.
        tools:
          type: array
          items:
            $ref: '#/components/schemas/GrokResponseTool'
          description: Tools that were available for this response.
        parallel_tool_calls:
          type: boolean
          description: Whether parallel tool calls were allowed.
        previous_response_id:
          type: string
          nullable: true
          description: ID of the previous response if this is a continuation.
        store:
          type: boolean
          description: Whether the response is stored.
        text:
          type: object
          additionalProperties: true
          description: Text format settings.
        temperature:
          type: number
          nullable: true
        top_p:
          type: number
          nullable: true
        reasoning:
          type: object
          nullable: true
          additionalProperties: true
          description: Reasoning configuration.
        incomplete_details:
          type: object
          nullable: true
          additionalProperties: true
          description: Details about why the response is incomplete, if applicable.
        user:
          type: string
          nullable: true
      required:
        - id
        - object
        - model
        - output
        - status

    GrokResponseFormat:
      type: object
      description: The format of the response output. Use for structured outputs (JSON schema enforcement).
      properties:
        type:
          type: string
          enum:
            - json_schema
            - text
          description: The type of response format.
        json_schema:
          $ref: '#/components/schemas/GrokJsonSchemaDefinition'
      required:
        - type

    GrokJsonSchemaDefinition:
      type: object
      description: A JSON Schema definition for structured output.
      properties:
        name:
          type: string
          description: A name for the schema, used for identification.
        schema:
          type: object
          additionalProperties: true
          description: The JSON Schema object defining the expected output structure.
        strict:
          type: boolean
          description: Whether the model must strictly follow the schema.
          default: true
      required:
        - name
        - schema

    GrokResponseOutputItem:
      type: object
      description: |
        An output item from the Responses API.
        - type "message": contains the assistant's response content with optional citations.
        - type "reasoning": contains the model's reasoning/thinking process summary.
        - type "function_call": a function call request from the model.
        - type "web_search_call": a web search action performed by the model.
        - type "x_search_call": an X/Twitter search action performed by the model.
        - type "code_interpreter_call": a code interpreter action performed by the model.
      properties:
        type:
          type: string
          enum: ["message", "reasoning", "function_call", "web_search_call", "x_search_call", "code_interpreter_call", "custom_tool_call", "file_search_call", "mcp_call"]
          description: The type of output item.
        id:
          type: string
          description: Unique identifier for this output item.
        role:
          type: string
          description: For message type, the role (e.g., "assistant").
        status:
          type: string
          enum: ["completed", "in_progress", "incomplete"]
          description: Status of this output item.
        content:
          type: array
          items:
            $ref: '#/components/schemas/GrokResponseOutputContent'
          description: For message type, the content parts of the response.
        summary:
          type: array
          items:
            $ref: '#/components/schemas/GrokResponseSummaryContent'
          description: For reasoning type, the summary of the reasoning process.
        call_id:
          type: string
          description: For function_call type, the ID of the tool call.
        name:
          type: string
          description: For function_call type, the function name.
        arguments:
          type: string
          description: For function_call type, the JSON string of function arguments.
        action:
          type: object
          nullable: true
          additionalProperties: true
          description: For web_search_call/x_search_call/code_interpreter_call types, details about the action performed.
      required:
        - type

    GrokResponseOutputContent:
      type: object
      description: Content part of a response output message.
      properties:
        type:
          type: string
          description: Content type (e.g., "output_text").
        text:
          type: string
          description: The text content.
        annotations:
          type: array
          items:
            $ref: '#/components/schemas/GrokResponseAnnotation'
          description: Inline citation annotations for the text content.
        logprobs:
          type: object
          nullable: true
          additionalProperties: true
      required:
        - type

    GrokResponseAnnotation:
      type: object
      description: An inline citation annotation in the response text.
      properties:
        type:
          type: string
          description: Annotation type (e.g., "url_citation").
        url:
          type: string
          description: The source URL of the citation.
        start_index:
          type: integer
          description: Character position where the citation starts in the response text.
        end_index:
          type: integer
          description: Character position where the citation ends (exclusive).
        title:
          type: string
          description: The citation display number (e.g., "1", "2").
      required:
        - type

    GrokResponseSummaryContent:
      type: object
      description: Summary content from the reasoning output.
      properties:
        type:
          type: string
          description: Summary type (e.g., "summary_text").
        text:
          type: string
          description: The summary text content.
      required:
        - type

    GrokResponseUsage:
      type: object
      description: Usage information for a Responses API call. Uses input_tokens/output_tokens instead of prompt_tokens/completion_tokens.
      properties:
        input_tokens:
          type: integer
          description: Number of input tokens used.
        input_tokens_details:
          type: object
          nullable: true
          additionalProperties: true
          description: Details about input token usage (e.g., cached_tokens).
        output_tokens:
          type: integer
          description: Number of output tokens generated.
        output_tokens_details:
          type: object
          nullable: true
          additionalProperties: true
          description: Details about output token usage (e.g., reasoning_tokens).
        total_tokens:
          type: integer
          description: Total number of tokens used.
      required:
        - input_tokens
        - output_tokens
        - total_tokens

    GrokResponseDeleteResponse:
      type: object
      description: Response from deleting a previous response.
      properties:
        id:
          type: string
          description: The response ID that was deleted.
        object:
          type: string
          description: Always "response".
        deleted:
          type: boolean
          description: Whether the response was successfully deleted.
      required:
        - id
        - object
        - deleted

    GrokVideoGenerationRequest:
      type: object
      description: Request to start a video generation.
      properties:
        model:
          type: string
          description: The model to use for video generation (e.g., "grok-imagine-video").
          example: "grok-imagine-video"
        prompt:
          type: string
          description: Text description of the video to generate.
        image:
          $ref: '#/components/schemas/GrokImageUrl'
          description: Source image for image-to-video generation.
        video_url:
          type: string
          description: URL of a source video for video editing. Max input video length is 8.7 seconds.
        duration:
          type: integer
          description: Video duration in seconds (1-15). Not supported for video editing.
          minimum: 1
          maximum: 15
        aspect_ratio:
          type: string
          description: "Aspect ratio of the output video. Options: 1:1, 16:9, 9:16, 4:3, 3:4, 3:2, 2:3. Default: 16:9. Not supported for video editing."
          enum: ["1:1", "16:9", "9:16", "4:3", "3:4", "3:2", "2:3"]
        resolution:
          type: string
          description: "Resolution of the output video. Options: 480p, 720p. Default: 480p. Not supported for video editing."
          enum: ["480p", "720p"]
      required:
        - model
        - prompt

    GrokVideoGenerationStartResponse:
      type: object
      description: Response from starting a video generation request.
      properties:
        request_id:
          type: string
          description: The request ID to use for polling the video generation result.
      required:
        - request_id

    GrokVideoGenerationResult:
      type: object
      description: Result of a video generation request (returned when complete).
      properties:
        video:
          $ref: '#/components/schemas/GrokVideoData'
        model:
          type: string
          description: The model used for generation.

    GrokVideoData:
      type: object
      description: Video data from a completed generation.
      properties:
        url:
          type: string
          description: Temporary URL to download the generated video. Download promptly as URLs expire.
        duration:
          type: integer
          description: Duration of the generated video in seconds.
        respect_moderation:
          type: boolean
          description: Whether the video passed content moderation.

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
security:
  - ApiKeyAuth: []